body {  
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.lightLink {
    color: white;
    text-decoration: none;
}

.lightLink:hover {
    color: #cccccc;
}

@keyframes titlefade {
    from {color: white;}
    to {color: black;}
}
.company {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    animation-name: titlefade;
    animation-duration: 6s;
}
.navbar {
    background-color: white;
}
.navlogo {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.navbar-toggler {
    margin-right: 2px;
}

.nav-item {
    font-size: 1.2rem;
}

#header {
    padding: 12% 0 4%;
}

.heroarea {
    height: 30vh;
    position: relative;
}
.heroimage {
    width: 20%;
    /* margin-right: 30%; */
    /* transform:rotate(5deg); */
    position: absolute;
    right: 20%;
    top: 15%;
    z-index: -1;
}

@media only screen and (max-height:1460px) {
    .heroimage {
        top: -10%;
    }

}

@media only screen and (max-height:800px) {
    .heroimage {
        top: -80%;
    }

}

@media only screen and (max-width:850px) {
    .heroimage {
        display: none;
    }
    .herotext h2 {
        font-size: 1.75rem;
        max-width: 80%;
        padding-top: 15%;
    }
}

.herotext {
   /* max-width: 40%; */
    padding-left: 10%;
}

.straparea {
    /* background-image: linear-gradient(to right, #06001e,#17005c, #0a4b24, #86cf87, #17005c); */
    background-color: #474747;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 7px solid;
    border-image-source: linear-gradient(to right, #06001e,#17005c, #0a4b24, #86cf87, #17005c);
    border-image-slice: 1;
}

.straptext {
    color: white;
    font-weight: bold;
    margin-top: .8%;
}

.strapbutton {
    margin-left: 30px;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: #474747;
}

.featurebox {
    background-color: #06001e;
    display: flex;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.featureimage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: white solid 2px;
}

.featuretext {
    padding: 7% 20%;
    text-align: center;
    color: #cccccc;
}
.featuretitle {
    color: white;
    font-weight: bold;
    padding-bottom: 3%;
}

.featurelink {
    display: block;
    background-color: #06001e;
    text-align: end;
    height: 40px;
    padding-right: 20px;
    margin-right: 0;
    font-size: 1rem;
    font-weight: bold;
}

.quote {
    padding: 6% 15%;
    height: 15vh;
}

#quotecarousel {
    margin-bottom: 20px;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: 5%;
    margin-top: 20px;
}

.slider > h3 {
    position: absolute;
    top: 0px;
    left: 5%;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    margin-top: 40px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    background-color: #474747;
    padding: 5px 10px;
    border-radius: 30%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0%;
    opacity: 0;
}

.panel p {
    position: absolute;
    bottom: 3%;
    right: 5%;
    opacity: 0;
}

.panel audio {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 30%;
    margin: 0%;
    opacity: 0;
    visibility: hidden;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel.active audio {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    visibility: visible;
}

@media (max-width: 800px){
    .quote {
        height: 25vh;
    }
    .slider {
        flex-direction: column;
        height: 50vh;
        width: auto;
        margin-left: auto;
        margin-top: auto;
    }

    .panel {
        margin-top: 5px;
    }

    .first-panel {
        margin-top: 35px;
    }

    .panel audio {
        left: 10%;
    };
}

#footer {
    /* height: 20vh; */
    margin-top: 3em;
    padding-bottom: 30px;
    background-color: #17005c;
    color: white;
    font-weight: bold;
    font-size: small;
    position: sticky;
}

#footer ul {
    list-style: none;
}

#footer a {
    text-decoration: none;
    color: white;
}

.footer-zone {
    padding-left: 10%;
    padding-top: 5vh;
}

.socials {
    font-size: 2rem;
    margin-left: 30px;
    padding-right: 10px;
}

/* About page */

.aboutHero {
    text-align: center;
}

.aboutHeaderImage {
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
    .aboutHeaderImage {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}

.aboutAura, .aboutOwner, .aboutFocus {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutOwner {
    width: 100%;
    margin-bottom: 0;
    background-color: #06001e;
    color: #fff;
}

.aboutTitle, .contactHeading, .contactEmail {
    color: #474747;
}

.aboutOwner > .aboutTitle {
    color: #fff;
}

.aboutOwnerImage {
    border-radius: 50%;
    border: #17005c solid 3px;
    width: 70%;
}

/* Contact page */

/* Form css */

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #0a4b24;
    border-color: #17005c;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

/* Contact page main css */

.contactTop {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.formArea {
    padding: 4% 10%;
    background-color: #06001e;
    color: #fff;
}

.socialMedia {
    text-decoration: none;
    list-style: none;
    line-height: 2;
    padding-top: 10%;
}

.socialMedia a {
    text-decoration: none;
    color: #fff;
}

.socialMedia a:hover {
    color: #fff;
}

.socialMedia a:visited {
    color: #fff;
}

.contactEmail {
    text-align: center;
    padding: 10vh 0;
}

.contactEmail a {
    color: #17005c;
}